@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    background: #030712;
}

.header {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgba(3, 7, 18, 0.8);
    .header-icon {
        height: 40px;
    }
    .header-social-media {
        .header-social-media-icon {
            width: 26px !important;
        }
    }
}

.home {
    .home-des {
        width: 100%;
        max-width: 700px;
        .personal-status {
            width: 8px;
            aspect-ratio: 1/1;
            background: #10b981;
            border-radius: 50%;
        }
    }
    .personal-img-wrapper {
        width: 460px;
        max-width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: linear-gradient(to bottom, #e70faa, #00c0fd);
        .personal-img {
            position: relative;
            border-radius: 50%;
            height: calc(100% - 30px);
            width: calc(100% - 30px);
            background-image: url("/src/assets/images/avatar.jpg");
            background-position: top center;
            background-size: cover;
            filter: grayscale(80%);
        }
    }
}

.session-title {
    background: #374151;
    border-radius: 12px;
    padding: 4px 20px;
}
